.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 25px;
}

.container__button-wrapper {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container__title {
  text-align: center;
}
